/* styles.css */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

.background-container {
    z-index: -10;
    background-image: url('../img/table-5696243_1920.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Color negro con 50% de transparencia */
}

.content {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
}

.logo {
    position:absolute;
    width: 150px; 
}

h1 {
    text-align: center;
    
}

p{
    margin: 10px auto;
    width: 65%;
}

button {
    margin: 0 auto;
    display: block;
    padding: 10px 30px;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s; /* Para el efecto de hover */
}

button:hover {
    transform: scale(1.1); 
    background-color: lightslategrey;
}

a{
    text-decoration: none;
}