/*  Estilos de la tabla*/
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 14px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

tr:hover {
    background-color: #f1f1f1;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Estilos de las ventanas modales*/

.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7); /* Fondo difuminado */
    backdrop-filter: blur(5px); /* Efecto de difuminado */
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content { 
    background: rgba(226, 241, 254, 0.448); 
    padding: 20px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    width: 50%; /* Ancho del formulario */ 
    height: 40vh;
    text-align: left; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 

.form-left, .form-right { 
    display: flex; 
    flex-direction: column; 
    width: 48%; /* Ajusta el ancho según sea necesario */ 
} 
.form-control{
    height: 5vh;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
}


#btnSend{
    margin: auto;
}

